
.ipynb_checkpoints/1 - Genome-scale simulation-checkpoint.ipynb

.ipynb_checkpoints/2 - Model reconstruction with CarveMe-checkpoint.ipynb

.ipynb_checkpoints/3 - Kinetic modeling-checkpoint.ipynb

.ipynb_checkpoints/4 - Microbial Community Modeling-checkpoint.ipynb
